@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

html,
body {
  overflow: hidden;
  font-family: sans-serif;
}

#webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.material-button {
  @apply w-14 overflow-hidden rounded-full border-2 border-neutral-400 bg-white/20 p-1 transition-all duration-200 hover:p-0;
}

.material-button.active {
  @apply border-neutral-800;
}
